:root{
    --lightBlue: #9BCDD7;
    --danger: #D34544;
    --bg: #242424;
    --bg2: #121212;
    --clear: #E3DBC8;
    --border: #0000004d;
}


body{background: var(--bg);}
.overflow-hidden{overflow: hidden;}
.no-padding{padding: 0 !important;}
.btn:focus, .btn.focus {
    outline: none !important;
    box-shadow: none !important;
}
/* MENU LATERAL */
.menu{display: flex; justify-content: space-between; flex-direction: column;position: fixed; height: 100vh; width: 55px;box-shadow: 2px 1px 1rem var(--lightBlue); top: 0; z-index: 99;}
.menu > nav{ display: flex; flex-direction: column;}
.menu > nav > ul {padding: 0 !important; margin-top: 20px;}
.menu > nav > ul > li{list-style-type: none; text-align: center;}
.menu > nav > ul > li> a{ color: var(--clear); font-size: 1em; display: block; text-decoration: none !important;width: 60px; height: 40px; border-radius: 0px 10px 10px 0; display: flex; justify-content: center; align-items: center;}
.menu > nav > ul > li> a:hover,  .menu > nav > ul > li> i:hover {color: var(--bg2); background: var(--lightBlue);}
.menu > nav > div > button{ color: var(--clear); font-size: 1.2em; background: transparent; border: none; display: block; text-decoration: none !important;width: 60px; height: 40px; border-radius: 0px 10px 10px 0 ; display: flex; justify-content: center; align-items: center;}
.menu > nav > div > button :hover {color: var(--bg2); background: var(--lightBlue);}

/* LOGO */
.logo img{padding: 20px 8px; width: 50px;}

/* HOME */
.dashboard {padding-top: 50px;padding-left: 90px;padding-right: 90px; color: var(--lightBlue);}

/* BUTOES  */
.btn-status{display: flex;justify-content: space-evenly;align-items: center;width: 100%;height: 100%;padding: 0.5rem;border-radius: 100px;box-shadow: 2px 1px 0.5rem var(--lightBlue);background: none;color: var(--lightBlue);}
.btn-status:hover,.btn-status.ativo{background: var(--danger); color: var(--bg2); box-shadow: 2px 1px 0.5rem var(--lightBlue) !important}

.btn-novoPedido{background: var(--danger); color: var(--bg2); font-size: 14px; padding: 0px 58px; border-radius: 28px;box-shadow: 2px 1px 0.2em var(--border);}
.btn-novoPedido:hover{background: var(--bg); color: var(--danger); box-shadow: 2px 1px 0.2em var(--danger);}

/* TABELA */
.table{color: var(--lightBlue); font-size: 0.9em;}
.table thead th{border: none !important;}
.table-striped tbody tr:nth-of-type(odd){ background: var(--bg2) !important;}
.table th, .table td{border-top: none !important;}

/* IMPUT PESQUISA*/
div.dataTables_wrapper div.dataTables_filter label{font-size: 0px !important;}
.form-pesquisa{background:var(--bg2) url('../img/search.png') 97% center no-repeat; border: none; border-radius: 20px; width: 250px !important; height: 35px;}
.form-pesquisa:focus, .form-pesquisa:hover{background: var(--bg)  url('../img/search.png') 97% center no-repeat; box-shadow: 0 0 2rem var(--clear);color: var(--lightBlue);}

/* PAGINA */
.page-link{ background-color: transparent !important; color: var(--lightBlue); border: none !important; font-size: 0.6em;}
.page-link:hover{color: var(--lightBlue) !important;}
.page-link:focus {outline: none !important ; box-shadow: none !important;}
.dataTables_info{font-size: 0.6em;}
/* SCROLL */
::-webkit-scrollbar {width: 6px;height: 10px;background: var(--bg);}
::-webkit-scrollbar-thumb {background: var(--lightBlue);border-radius: 30px;}
::-webkit-scrollbar-track {background-color: var(--bg);}
::-webkit-scrollbar-track-piece {background-color: var(--border);}

/* Spinner */
.spinner{position: absolute; top: 0; width: 100%; height: 100vh; z-index: 99999; display: flex; justify-content: center; align-items: center; background: var(--bg2);}
.spinner-color{color: var(--lightBlue) !important;}
.display-none{display: none;}